<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>다목적실</string>
		<key>Background</key>
		<string>Tutorial-1</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>세미나실</string>
		<key>Background</key>
		<string>Tutorial-2</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>문화공연전시</string>
		<key>Background</key>
		<string>Tutorial-3</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>체험실습공간</string>
		<key>Background</key>
		<string>Tutorial-4</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>체육시설</string>
		<key>Background</key>
		<string>Tutorial-5</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>화장실</string>
		<key>Background</key>
		<string>Tutorial-6</string>
	</dict>
</array>
</plist>
